cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
cramjam==2.11.0
fastparquet==2024.11.0
fsspec==2025.9.0
google-api-core==2.26.0
google-auth==2.41.1
google-cloud-run==0.11.0
google-cloud-secret-manager==2.25.0
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.3
grpcio==1.75.1
grpcio-status==1.75.1
idna==3.11
numpy==2.3.4
packaging==25.0
pandas==2.3.3
proto-plus==1.26.1
protobuf==6.33.0
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
rsa==4.9.1
six==1.17.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
